extends ../layout

block content
    h1=title
    ul
        each category in categories
            li #[strong=category.name] | #[a(href=category.url) category page]
    a(href='/category/create') Create Category