extends ../layout

block content
    h1=title 
    if items.length > 0
        p These items need to be deleted or have their category changed:
            ul
                each item in items
                    li #[strong=item.name] | #[a(href=item.url) item page]
    else
        p Are you sure you want to delete this category?
        form(method="post")
            input(type="submit" value="submit")
             
                