extends ../layout

block content
    h1=title
    form(method="post")
        label(for="name") Name:
        br
        input(id="name" name="name" type="text" placeholder="stuff..." value=category ? category.name : '')
        br
        label(for="description") Description:
        br
        textarea(id="description" name="description", cols="30", rows="10")=category ? category.description : ''
        br
        input(type="submit" value="submit")
    if errors
        ul
            for err in errors
                li=err.msg